In [1]:
import pandas as pd
import random
import numpy as np

In [2]:
# Load data
list_of_files = ['/Users/mtang/Documents/PAMAP2_Dataset/Protocol/subject101.dat',
                 '/Users/mtang/Documents/PAMAP2_Dataset/Protocol/subject102.dat',
                 '/Users/mtang/Documents/PAMAP2_Dataset/Protocol/subject103.dat',
                 '/Users/mtang/Documents/PAMAP2_Dataset/Protocol/subject104.dat',
                 '/Users/mtang/Documents/PAMAP2_Dataset/Protocol/subject105.dat',
                 '/Users/mtang/Documents/PAMAP2_Dataset/Protocol/subject106.dat',
                 '/Users/mtang/Documents/PAMAP2_Dataset/Protocol/subject107.dat',
                 '/Users/mtang/Documents/PAMAP2_Dataset/Protocol/subject108.dat',
                 '/Users/mtang/Documents/PAMAP2_Dataset/Protocol/subject109.dat' ]

subjectID = [1,2,3,4,5,6,7,8,9]

activityIDdict = {0: 'transient',
              1: 'lying',
              2: 'sitting',
              3: 'standing',
              4: 'walking',
              5: 'running',
              6: 'cycling',
              7: 'Nordic_walking',
              9: 'watching_TV',
              10: 'computer_work',
              11: 'car driving',
              12: 'ascending_stairs',
              13: 'descending_stairs',
              16: 'vacuum_cleaning',
              17: 'ironing',
              18: 'folding_laundry',
              19: 'house_cleaning',
              20: 'playing_soccer',
              24: 'rope_jumping' }

colNames = ["timestamp", "label_Id", "heartrate"]

IMUhand = ['handTemperature', 
           'handAcc16_1', 'handAcc16_2', 'handAcc16_3', 
           'handAcc6_1', 'handAcc6_2', 'handAcc6_3', 
           'handGyro1', 'handGyro2', 'handGyro3', 
           'handMagne1', 'handMagne2', 'handMagne3',
           'handOrientation1', 'handOrientation2', 'handOrientation3', 'handOrientation4']

IMUchest = ['chestTemperature', 
           'chestAcc16_1', 'chestAcc16_2', 'chestAcc16_3', 
           'chestAcc6_1', 'chestAcc6_2', 'chestAcc6_3', 
           'chestGyro1', 'chestGyro2', 'chestGyro3', 
           'chestMagne1', 'chestMagne2', 'chestMagne3',
           'chestOrientation1', 'chestOrientation2', 'chestOrientation3', 'chestOrientation4']

IMUankle = ['ankleTemperature', 
           'ankleAcc16_1', 'ankleAcc16_2', 'ankleAcc16_3', 
           'ankleAcc6_1', 'ankleAcc6_2', 'ankleAcc6_3', 
           'ankleGyro1', 'ankleGyro2', 'ankleGyro3', 
           'ankleMagne1', 'ankleMagne2', 'ankleMagne3',
           'ankleOrientation1', 'ankleOrientation2', 'ankleOrientation3', 'ankleOrientation4']

columns = colNames + IMUhand + IMUchest + IMUankle  #all columns in one list

len(columns)

54

In [20]:
dataCollection = pd.DataFrame()
for file in list_of_files:
    procData = pd.read_table(file, header=None, sep='\s+')
    procData.columns = columns
    # procData['client_Id'] = int(file[-5])
    group_df = procData.groupby('label_Id')
    for name, group in group_df:
        group = group.groupby(np.arange(len(group))//100).mean()
        group['client_Id'] = int(file[-5])
        group['label_Id'] = name
        dataCollection = dataCollection.append(group, ignore_index=True)

dataCollection.reset_index(drop=True, inplace=True)
dataCollection.head()

13
13
9
12
13
13
12
13
2

,timestamp,label_Id,heartrate,handTemperature,handAcc16_1,handAcc16_2,handAcc16_3,handAcc6_1,handAcc6_2,handAcc6_3,...,ankleGyro2,ankleGyro3,ankleMagne1,ankleMagne2,ankleMagne3,ankleOrientation1,ankleOrientation2,ankleOrientation3,ankleOrientation4,client_Id
0,8.875,0,104.200000,30.0000,2.338374,8.884311,3.412409,2.402079,8.830514,3.546621,...,-0.007539,0.003798,-60.851173,-38.888995,-57.982373,1.0,0.0,0.0,0.0,1
1,9.875,0,105.333333,30.0000,2.757696,8.935353,2.956669,2.795093,8.918115,3.034563,...,-0.000053,0.001574,-60.954846,-38.656630,-57.923348,1.0,0.0,0.0,0.0,1
2,10.875,0,106.444444,30.0600,2.752679,8.691075,3.635951,2.783222,8.665433,3.729765,...,-0.010484,0.001965,-60.986725,-38.733090,-57.980840,1.0,0.0,0.0,0.0,1
3,11.875,0,106.444444,30.0625,2.547359,8.868735,3.593018,2.586286,8.848486,3.677166,...,-0.005679,0.001606,-60.947169,-38.658787,-57.948191,1.0,0.0,0.0,0.0,1
4,12.875,0,105.333333,30.0625,2.890119,8.584101,3.547539,2.916782,8.584036,3.634067,...,-0.000654,0.009860,-61.145788,-38.156575,-57.936252,1.0,0.0,0.0,0.0,1

In [4]:
first_column = dataCollection.pop('client_Id')
dataCollection.insert(0, 'client_Id', first_column)
dataCollection.head()

,client_Id,timestamp,label_Id,heartrate,handTemperature,handAcc16_1,handAcc16_2,handAcc16_3,handAcc6_1,handAcc6_2,...,ankleGyro1,ankleGyro2,ankleGyro3,ankleMagne1,ankleMagne2,ankleMagne3,ankleOrientation1,ankleOrientation2,ankleOrientation3,ankleOrientation4
0,1,8.875,0,104.200000,30.0000,2.338374,8.884311,3.412409,2.402079,8.830514,...,0.004756,-0.007539,0.003798,-60.851173,-38.888995,-57.982373,1.0,0.0,0.0,0.0
1,1,9.875,0,105.333333,30.0000,2.757696,8.935353,2.956669,2.795093,8.918115,...,0.007393,-0.000053,0.001574,-60.954846,-38.656630,-57.923348,1.0,0.0,0.0,0.0
2,1,10.875,0,106.444444,30.0600,2.752679,8.691075,3.635951,2.783222,8.665433,...,0.004469,-0.010484,0.001965,-60.986725,-38.733090,-57.980840,1.0,0.0,0.0,0.0
3,1,11.875,0,106.444444,30.0625,2.547359,8.868735,3.593018,2.586286,8.848486,...,0.012477,-0.005679,0.001606,-60.947169,-38.658787,-57.948191,1.0,0.0,0.0,0.0
4,1,12.875,0,105.333333,30.0625,2.890119,8.584101,3.547539,2.916782,8.584036,...,0.000029,-0.000654,0.009860,-61.145788,-38.156575,-57.936252,1.0,0.0,0.0,0.0

In [5]:
dataCollection['label_Id'] = dataCollection['label_Id'].apply(int)
last_column = dataCollection.pop('label_Id')
dataCollection.insert(len(columns), 'label_Id', last_column)
dataCollection.head()

,client_Id,timestamp,heartrate,handTemperature,handAcc16_1,handAcc16_2,handAcc16_3,handAcc6_1,handAcc6_2,handAcc6_3,...,ankleGyro2,ankleGyro3,ankleMagne1,ankleMagne2,ankleMagne3,ankleOrientation1,ankleOrientation2,ankleOrientation3,ankleOrientation4,label_Id
0,1,8.875,104.200000,30.0000,2.338374,8.884311,3.412409,2.402079,8.830514,3.546621,...,-0.007539,0.003798,-60.851173,-38.888995,-57.982373,1.0,0.0,0.0,0.0,0
1,1,9.875,105.333333,30.0000,2.757696,8.935353,2.956669,2.795093,8.918115,3.034563,...,-0.000053,0.001574,-60.954846,-38.656630,-57.923348,1.0,0.0,0.0,0.0,0
2,1,10.875,106.444444,30.0600,2.752679,8.691075,3.635951,2.783222,8.665433,3.729765,...,-0.010484,0.001965,-60.986725,-38.733090,-57.980840,1.0,0.0,0.0,0.0,0
3,1,11.875,106.444444,30.0625,2.547359,8.868735,3.593018,2.586286,8.848486,3.677166,...,-0.005679,0.001606,-60.947169,-38.658787,-57.948191,1.0,0.0,0.0,0.0,0
4,1,12.875,105.333333,30.0625,2.890119,8.584101,3.547539,2.916782,8.584036,3.634067,...,-0.000654,0.009860,-61.145788,-38.156575,-57.936252,1.0,0.0,0.0,0.0,0

In [6]:
mean_value = dataCollection['heartrate'].mean()
  # Replace NaNs in column S2 with the
# mean of values in the same column
dataCollection['heartrate'].fillna(value=mean_value, inplace=True)

In [7]:
# dataCollection = dataCollection.groupby(dataCollection.columns, axis = 1).transform(lambda x: x.fillna(x.mean()))

In [8]:
dataCollection.head()

,client_Id,timestamp,heartrate,handTemperature,handAcc16_1,handAcc16_2,handAcc16_3,handAcc6_1,handAcc6_2,handAcc6_3,...,ankleGyro2,ankleGyro3,ankleMagne1,ankleMagne2,ankleMagne3,ankleOrientation1,ankleOrientation2,ankleOrientation3,ankleOrientation4,label_Id
0,1,8.875,104.200000,30.0000,2.338374,8.884311,3.412409,2.402079,8.830514,3.546621,...,-0.007539,0.003798,-60.851173,-38.888995,-57.982373,1.0,0.0,0.0,0.0,0
1,1,9.875,105.333333,30.0000,2.757696,8.935353,2.956669,2.795093,8.918115,3.034563,...,-0.000053,0.001574,-60.954846,-38.656630,-57.923348,1.0,0.0,0.0,0.0,0
2,1,10.875,106.444444,30.0600,2.752679,8.691075,3.635951,2.783222,8.665433,3.729765,...,-0.010484,0.001965,-60.986725,-38.733090,-57.980840,1.0,0.0,0.0,0.0,0
3,1,11.875,106.444444,30.0625,2.547359,8.868735,3.593018,2.586286,8.848486,3.677166,...,-0.005679,0.001606,-60.947169,-38.658787,-57.948191,1.0,0.0,0.0,0.0,0
4,1,12.875,105.333333,30.0625,2.890119,8.584101,3.547539,2.916782,8.584036,3.634067,...,-0.000654,0.009860,-61.145788,-38.156575,-57.936252,1.0,0.0,0.0,0.0,0

In [9]:
dataCollection.isna().sum().sum()

0

In [11]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(dataCollection, test_size=0.2)

In [12]:
train.to_csv('/Users/mtang/Documents/FedScale/benchmark/dataset/data/PAMAP2/client_data_mapping/train.csv',index=False)
test.to_csv('/Users/mtang/Documents/FedScale/benchmark/dataset/data/PAMAP2/client_data_mapping/test.csv',index=False)

In [13]:
modalities = ['hand', 'chest', 'ankle']
modality = random.choice(modalities)

In [14]:
group_list = []
group_df = dataCollection.groupby('client_Id')
for name, group in group_df:
    modalities = ['hand', 'chest', 'ankle']
    modality = random.choice(modalities)
    if modality == "hand":
        group[IMUhand] = 0
    elif modality == "chest":
        group[IMUchest] = 0
    else:
        group[IMUankle] = 0
    group_list.append(group)

In [15]:
missing_group_df = pd.concat(group_list)

In [16]:
missing_group_df.head()

,client_Id,timestamp,heartrate,handTemperature,handAcc16_1,handAcc16_2,handAcc16_3,handAcc6_1,handAcc6_2,handAcc6_3,...,ankleGyro2,ankleGyro3,ankleMagne1,ankleMagne2,ankleMagne3,ankleOrientation1,ankleOrientation2,ankleOrientation3,ankleOrientation4,label_Id
0,1,8.875,104.200000,30.0000,2.338374,8.884311,3.412409,2.402079,8.830514,3.546621,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,1,9.875,105.333333,30.0000,2.757696,8.935353,2.956669,2.795093,8.918115,3.034563,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,1,10.875,106.444444,30.0600,2.752679,8.691075,3.635951,2.783222,8.665433,3.729765,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,1,11.875,106.444444,30.0625,2.547359,8.868735,3.593018,2.586286,8.848486,3.677166,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,1,12.875,105.333333,30.0625,2.890119,8.584101,3.547539,2.916782,8.584036,3.634067,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [17]:
missing_train, missing_test = train_test_split(missing_group_df, test_size=0.2)

In [18]:
missing_train.to_csv('/Users/mtang/Documents/FedScale/benchmark/dataset/data/PAMAP2_MISSING/client_data_mapping/train.csv',index=False)
missing_test.to_csv('/Users/mtang/Documents/FedScale/benchmark/dataset/data/PAMAP2_MISSING/client_data_mapping/test.csv',index=False)

In [19]:
len(dataCollection['label_Id'].unique())

13